html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: Roboto, sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hàng 1 */


/* CONTENT map-left*/

.map-main {
	width: 100%;
}

.map-left {
	width: 200px;
	height: 900px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* hang3 */
.address-map {
	padding: 20px 20px 0;
}

.address-map h2 {
	font-size: 22px;
	font-weight: 600;
	color: #3a3a3a;
	padding-bottom: 10px;
}

.address-1 {
	display: flex;
}

.address-1 h3 {
	font-size: 14px;
	color: #757575;
	margin-right: 10px;
}

.address-1__1 {
	display: flex;
	font-size: 14px;
}

.add-listing {
	position: relative;
	top: -8px;
}

.address-1__1 h4 {
	font-size: 14px;
	color: #757575;
	width: 50%;
}



.add-listing_1 {
	border: none;
	background-color: rgb(249 249 249);
	color: #4444d1;
}

/* hàng 4 */
.row {
	margin-bottom: 20px;
}

.content {
	padding: 20px;
}

.content_1 {
	background-color: white;
}

.content_1:hover {
	border: 2px grey;
	transition: all 1s;
}

.content_1-top span {
	font-size: 12px;
	color: #757575;
}

.content_1-img {
	width: 100%;
	padding: 5px 0;
}

.hover-animation {
	position: relative;
	height: 320px;
	width: 100%;
	color: #fff;
	box-shadow: 5px 5px 15px rgb(0 0 0 / 60%);
}

.hover-animation img {
	object-fit: cover;
	width: 106%;
	position: absolute;
	left: 0;
	height: 100%;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.img-front {
	object-fit: cover;
}

.hover-animation img.img-front:hover {
	opacity: 0;
	cursor: pointer;
}



.img-1 {
	padding: 5px;
	font-size: 14px;
	font-weight: 600;
	color: azure;
	background-color: #37c;
	position: absolute;
	top: 30px;
	left: 30px;
}

.img-2 {
	font-size: 40px;
	color: white;
	position: absolute;
	bottom: 40%;
	right: 8%;
}

.img-2:hover {
	color: pink;
}

.content_1-in4 {
	padding: 8px 8px;
	line-height: 1.5;
}

.in4-1 {
	padding-bottom: 5px;
	font-size: 14px;
	color: #3a3a3a;
}

.in4-1_1 {
	color: #36b396;
}

.in4-2 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 5px;
	color: #3a3a3a;
}

.in4-3 {
	display: flex;
	justify-content: flex-start;
	font-size: 16px;
	padding-bottom: 5px;
}

.in4-3 li {
	margin-right: 20px;
}

.in4-3_1 {
	font-weight: 600;
}

.in4-4 {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.in4-4 p {
	width: 45%;
}

.in4-4 button {
	width: 45%;
	padding: 0px;
	border: 1px solid #37c;
	color: #37c;
	background: white;
	border-radius: 30px;
	margin: 14px;
}

.in4-4 button:hover {
	background-color: #d4d4d4;
	color: #3a3a3a;
}

/* hàng 5 */
.page {
	width: 100%;
	text-align: center;
}

.page button {
	font-size: 11px;
	padding: 0px 15px;
	background-color: white;
}

.page button:hover {
	background-color: black;
	color: white;
}

.page span {
	padding: 10px 15px;
	font-weight: 600;
}

/* hàng 6 */
.line {
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin: 20px 0 30px;
}

/* hàng 15 */
.line15 {
	width: 100%;
	padding: 10px;
}

.line15 h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 10px 0;
}

.line15-1 {
	display: flex;
	justify-content: space-between;
}

.li15-2 {
	padding: 0 20px;
}

.li15-2 iframe {
	width: 100%;
	height: 50%;
}

.li15-3 {
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #1c1c1c;
	line-height: 1.5;
	text-decoration: underline;
}

.li15-4 {
	padding: 0 20px 20px;
	font-size: 14px;
	line-height: 1.5;
}

.line15-1_2 {
	width: calc(50% - 10px);
	padding: 10px;
	border: 1px solid rgb(194, 194, 194);
}

.line15-1_2 h3 {
	font-size: 16px;
	padding: 20px;
}

.photo {
	padding: 0 20px;
	width: 100%;
}

.photo img {
	width: 100%;
	height: 50%;
}

.line15-1_2 h4 {
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
}

.line15-1_2 p {
	padding: 0 20px;
	font-size: 14px;
	line-height: 1.3;
}

.line15-1_2 button {
	margin: 40px 0 0 108px;
	padding: 10px 15px;
	background-color: rgb(249 249 249);
	color: red;
	border: 1px solid;
	border-radius: 30px;
	text-transform: capitalize;
}

.line15-1_2 button:hover {
	background-color: #e1e0e0;
	color: #3a3a3a;
}

.line15-1_3 {
	width: calc(50% - 10px);
	padding: 10px;
	border: 1px solid rgb(194, 194, 194);
}

.line15-1_3 h3 {
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
}

.li15-top {
	display: flex;
	justify-content: space-between;
}

.li15-box {
	padding: 20px;
}

.li15-box h4 {
	font-size: 14px;
	font-weight: 600;
	padding: 20px 0;
}

.li15-box input {
	width: 100%;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
}

.line15-1_3 button {
	margin: 20px;
	padding: 10px 15px;
	background-color: rgb(234, 31, 31);
	color: white;
	border: 1px solid;
	border-radius: 30px;
	text-transform: capitalize;
}

/* hàng 16 */
.line16 {
	padding: 10px;
}

.line16 h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 10px 0;
}

.line16-1 {
	padding: 20px;
	border: 1px solid rgb(194, 194, 194);
}

.line16-1 p {
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 20px;
}

.line16-1 span {
	font-weight: 600;
	font-size: 12px;
	color: #4444d1;
	margin-left: 94%;
}

/* hàng 17 */
.line17 {
	background-color: #333;
	padding: 0;
}

.line17-1 {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 10px;
}

.li17-left {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.li17-left li {
	background: white;
	width: 40px;
	height: 40px;
	padding: 8px;
	font-size: 24px;
	margin-right: 12px;
	border-radius: 5px;
}

.li17-right {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.ri-img {
	width: 50%;
}

.ri-img img {
	width: 90%;
	height: 58px;
	border-radius: 5px;
}

.line17-2 {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	color: white;
	font-size: 12px;
	font-weight: 600;
}

.line17-2 li {
	/* padding-right: 15px; */
	width: 30%;
	padding: 0px;
	font-weight: 500;
	line-height: 2.2;
}

.line17-2 li:hover span {
	text-decoration: underline;
}

.line17-3 {
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	color: rgb(244, 182, 48);
}

.line17-3:hover {
	text-decoration: underline;
}

.line17-4 {
	font-size: 14px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	padding: 10px;
}

.line17-5 {
	padding: 20px 10px;
	display: flex;
}

.line17-5_1 {
	font-size: 40px;
	color: white;
	padding-right: 20px;
}

.line17-5_1 img {
	height: 45px;
}

.line17-6 {
	color: white;
	font-size: 12px;
	padding: 10px;
}

.line17-6 a {
	color: rgb(211, 211, 174);
}

/* map-right */

.map-right {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	width: 912.944px;
	height: 900px;
}

.mapboxgl-canvas {
	width: 912.944px;
	height: 900px;
}


.bar-mobi,
.mobi2 {
	display: none;
}


@media (max-width: 800px) {
	/* html {
		width: max-content;
	} */

	body {
		background-color: white;
		padding: 0px;
		/* width: 600px; */
	}

	.second {
		width: 69%;
	}

	.second-4 {
		display: block;
	}

	.header,
	.second-1,
	.second-2,
	.second-3,
	.line15,
	.map-left {
		display: none;
	}

	.second-4 {
		width: 100%;
		background: aliceblue;
	}

	.nav-item {
		width: 50%;
		text-align: center;
	}

	.mb-3 {
		width: 100%;
		padding: 10px 20px;
		position: fixed;
		bottom: -17px;
		right: 0;
		left: 0;
		z-index: 999;
		background-color: lightgray;
	}

	.map-right {
		display: block;
	}

	#map {
		display: block;
		width: 100%;
		height: 100%;
	}

	.tab-content {
		width: 100%;
	}

	.page button {
		font-size: 11px;
		padding: 0;
		width: 60px;
	}

	.catolo {
		display: none;
	}

	.mb1 {
		display: block;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.mb1-1 {
		font-size: 16px;
		padding: 6px 10px;
	}

	.mb1-2 {
		width: 30%;
		padding-top: 5px;
	}

	.mb1-3 {
		width: 30px;
		height: 30px;
		border: 1px solid;
		padding: 7px;
		border-radius: 50px;
		color: white;
		background-color: rgb(217, 34, 40);
	}

	.mobi2 {
		display: block;
		display: flex;
		justify-content: space-around;
		padding: 10px 0;
		border-bottom: 1px solid silver;
		background-color: #f1f1f1;
		margin-right: 0px;
		width: 100%;
	}

	.mobi2-1 {
		display: flex;
		width: 80%;
		border: 1px solid #adb5bd;
		border-radius: 5px;
		font-size: 16px;
		background-color: white;

	}

	.mobi2-1 input {
		width: 100%;
		border: none;
		padding: 5px;
	}

	.mobi2-sear {
		margin-left: 2px;
		width: 46px;
		height: 40px;
		padding: 11px 14.5px;
		;
		color: white;
		background: rgb(217, 34, 40);
		border-radius: 0 5px 5px 0;
	}

	.mobi2-2 {
		width: 15%;
		border: 1px solid silver;
		text-align: center;
		border-radius: 5px px;
		padding-top: 11px;
		background-color: white;
	}

	.address {
		display: block;
		padding: 20px;
	}

	.address h2 {
		font-size: 18px;
	}

	.address-1 {
		padding-top: 20px;
	}

	.address-1 h3 {
		width: 50%;
	}

	.slide-main {
		width: 25%;
	}

	.slide-1 span {
		display: none;
	}

	.slide-2 {
		padding: 5px;
	}

	.slide-2 h2 {
		font-size: 11px;
	}

	.sl2-1 {
		padding-right: 0%;
		font-size: 8px;
	}

	.sl2-2 {
		font-size: 10px;
	}

	.sl2-3 {
		font-size: 10px;
	}

	.slide2 h2,
	.line11 h2,
	.line12 h2,
	.line16 h2 {
		font-size: 16px;
	}

	.slide,
	.slide2,
	.line11,
	.line12,
	.line16 {
		padding: 10px;
	}

	.line11-1_1 {
		flex-direction: column;
	}

	.li-1_1 {
		width: 60%;
		padding-bottom: 10px;
	}

	.li12-1_3 {
		flex-direction: column;
	}

	.li12-top {
		width: 100%;
		padding-bottom: 10px;
	}

	.li12-1_5 {
		font-size: 10px;
	}

	.slide2-1 {
		width: 10%;
	}

	.line14 {
		flex-direction: column;
		padding: 10px;
	}

	.line14-1 {
		flex-direction: column;
		width: 100%;
	}

	.line16-1 p {
		font-size: 12px;
	}

	.line17-1 {
		flex-direction: column;
		padding: 0 20px;
	}

	.li17-left {
		justify-content: center;
		width: 100%;
		padding: 10px;
	}

	.li17-right {
		justify-content: center;
		width: 100%;
	}

	.li17-left li {
		margin: 5px;
		text-align: center;
		width: 40px;
	}

	.ri-img {
		width: 110px;
		margin: 0 10px;
		padding: 0px;
	}

	.line17-2 {
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
	}

	.line17-2 li {
		width: 30%;
		padding: 15px;
		font-weight: 500;
	}

	.line17-3,
	.line17-4,
	.line17-6,
	.line17-5 {
		padding: 20px 35px;
	}

	.line17-5_1 {
		width: 30%;
	}

	.row {
		margin-left: 0%;
		margin-left: 0%;
	}

	.content {
		display: block;
		width: 98%;
		padding: 0px;
	}

	.slide2 {
		display: none;
	}

	.li-1_1 span {
		display: flex;
	}

	.line16-1 span {
		margin-left: 0%;
	}
}